:root {
    --user-color: hsl(194, 50%, 90%);
    --computer-color: hsl(0, 90%, 95%);
    --base-color: rgb(240, 240, 240);
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;  /* Includes padding and border in the total width and height */
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-size: cover;
    background: no-repeat center center fixed;
    background-color:#edfaff;
    text-align: center;
}

#content {
    width: 1200px;
    height: 750px;
    margin: 50px auto;
    background-color: white;
    border-radius: 36px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#counterContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#userCounter {
    background-color: var(--user-color);
}

#computerCounter {
    background-color: var(--computer-color);
}

.counterText {
    font-weight: 700;
    font-size: large;
}

.counter {
    position: relative;
    background-color: rgba(80, 80, 80, 0.05);
    width: 100px;
    height: 80px;
    border-radius: 16px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

#computerButtonContainer, #userButtonContainer {
    position: relative;
}

#computerButtonContainer::before {
    content: '🖥️';
    font-size: 70px;
    position: absolute;
    top: 33px;
    left: -132px;
    background-color: var(--computer-color);
    border-radius: 16px;
    padding: 5px;
}

#userButtonContainer::before {
    content: '🖱️';
    font-size: 70px;
    position: absolute;
    top: 3px;
    left: -132px;
    background-color: var(--user-color);
    border-radius: 16px;
    padding: 5px;
}

.computerButton {
    display: inline-block;
    margin: 30px 15px 0;
    padding: 12px 20px;
    border: none;
    border-radius: 16px;
    font-size: 64px;
    background-color: rgb(240, 240, 240);
}

#textContainer {
    width: 70%;
    height: 250px;
    background-color: rgba(80, 80, 80, 0.1);
    border-radius: 24px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 48px;
}

.actionButton {
    display: inline-block;
    margin: 0 15px;
    padding: 12px 20px;
    border: none;
    border-radius: 16px;
    font-size: 64px;
    background-color: rgb(240, 240, 240);
}

.actionButton:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.1s ease-in-out;
}

.actionButton:active {
    box-shadow: inset 0 8px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(0);
    transition: 0.1s;
}