:root {
    --user-color: hsl(194, 50%, 90%);
    --computer-color: hsl(0, 90%, 95%);
    --base-color: rgb(240, 240, 240);
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;  
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}

body {
    background-size: cover;
    background: no-repeat center center fixed;
    background-color: #edfaff;
    text-align: center;
    user-select: none;
}


.popUp > h2 {
    font-size: 54px;
}

#formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#roundsInput {
    background-color: var(--base-color);
    border: none;
    border-radius: 50px;
    font-size: 32px;
    width: 250px;
    padding: 30px;
    overflow: hidden;
}

#formButton {
    padding: 16px;
    height: 100px;
    width: 100px;
    border: none;
    background-color: var(--user-color);
    border-radius: 64px;
}

#formButton:hover, #roundsInput:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

#formButton:active {
    box-shadow: inset 0 8px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(0);
    transition: 0.1s;
}

#hidden {
    display: none;
}

.mainContainer {
    width: 1000px;
    height: 750px;
    margin: 50px auto;
    background-color: white;
    border-radius: 58px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#userCounter {
    background-color: var(--user-color);

}

#computerCounter {
    background-color: var(--computer-color);
}

.counterText {
    font-weight: 700;
    font-size: large;
}

.buttonContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#computerIcon {
    content: '🖥️';
    background-color: var(--computer-color);
}

#userIcon {
    content: '🖱️';
    background-color: var(--user-color);
}

.buttonContainer > div {
    margin: 0;
    padding: 12px 20px;
    border-radius: 16px;
    font-size: 64px;
    background-color: rgb(240, 240, 240);
}

#textContainer {
    width: 70%;
    height: 250px;
    background-color: rgba(80, 80, 80, 0.1);
    border-radius: 24px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 48px;
}

.actionButton:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.actionButton:active {
    box-shadow: inset 0 8px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(0);
    transition: 0.1s;
}